/* 
    Document   : reportsTable
    Created on : 25 Απρ 2012, 10:33:14 μμ
    Author     : DarKMaTTeR
    Description:
        Purpose of the stylesheet follows.
*/

.verified {
    background-color: lime;
}

.rejected {
    background-color: crimson;
}

.tableImage {
    max-width: 100px;
    max-height: 32px
}

